[submodule "projects/hormiguero-lab"]
	path = projects/hormiguero-lab
	url = https://github.com/grasshopperitsolutions/hormiguero-lab.git
[submodule "landing-pages/ludovica-piro"]
	path = landing-pages/ludovica-piro
	url = https://github.com/grasshopperitsolutions/ludovica-piro-page.git
[submodule "proxies/hormiguero-lab-api"]
	path = proxies/hormiguero-lab-api
	url = https://github.com/grasshopperitsolutions/perplexity-api-proxy.git
[submodule "projects/diploma-generator"]
	path = projects/diploma-generator
	url = https://github.com/grasshopperitsolutions/diploma-generator.git
[submodule "landing-pages/alfonso-romero-fotografia"]
	path = landing-pages/alfonso-romero-fotografia
	url = https://github.com/grasshopperitsolutions/alfonso-romero-fotografia.git
[submodule "projects/multi-lingo-ai"]
	path = projects/multi-lingo-ai
	url = https://github.com/grasshopperitsolutions/multi-lingo-ai.git
[submodule "proxies/multi-lingo-ai-api"]
	path = proxies/multi-lingo-ai-api
	url = https://github.com/grasshopperitsolutions/multi-lingo-ai-api.git
